.Select {
    position: relative;
}
.Select input::-webkit-contacts-auto-fill-button,
.Select input::-webkit-credentials-auto-fill-button {
    display: none !important;
}
.Select input::-ms-clear {
    display: none !important;
}
.Select input::-ms-reveal {
    display: none !important;
}
.Select,
.Select div,
.Select input,
.Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: 0.35;
}
.Select.is-disabled > .Select-control {
    background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
    box-shadow: none;
}
.Select.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-color: #c0c0c0;
}
/* .Select.is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #999;
} */
.Select.is-searchable.is-open > .Select-control {
    cursor: text;
}
.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
    border-color: #7a329f!important;    
    -webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
    
}
.Select.is-focused > .Select-control {
    background: #fff;
}
.Select.is-focused:not(.is-open) > .Select-control {
    background: #fff;
}
.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 42px;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #333;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #007eff;
    outline: none;
    text-decoration: underline;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    background: #fff;
}
.Select.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
}
/* .Select.is-open .Select-arrow,
.Select .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666;
} */
.Select.Select--rtl {
    direction: rtl;
    text-align: right;
}
.Select-control {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 40px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
    outline: none;
    background: #fff;
}

.Select-placeholder{
    line-height: 42px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    padding-left: 20px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    opacity: 1;
    line-height: 17px;
    line-height: 18px;
    /* For IE 8 compatibility */
    padding: 8px 10px 12px;
    /* For IE 8 compatibility */
    -webkit-appearance: none;
}
.is-focused .Select-input > input {
    cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
    outline: none;
}
.Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}
.Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: none;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
}
.Select-clear-zone:hover {
    color: #D0021B;
}
.Select-clear {
    display: none;
    font-size: 18px;
    line-height: 1;
}
.Select--multi .Select-clear-zone {
    width: 17px;
}
.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 7%;
    padding-right: 10px;
}
.Select--rtl .Select-arrow-zone {
    padding-right: 0;
    padding-left: 5px;
}
.Select-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    top: -3px;
    position: relative;
    padding: 3px;
    border: 0;
    background-image: url('../../../assets/images/Caret_Dropdown_Purple.svg');
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .3s linear;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all .3s linear;
}
.Select--multi .Select-multi-value-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px 6px;
}
.Select .Select-aria-only {
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Select-menu-outer {
    font-size: 14px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}
.Select-menu {
    max-height: 298px;
    overflow-y: auto;
}
.Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 20px;
}
.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
    background-color: #f1e7f7;
    color: #333;
    position: relative;
}
.Select-option.is-selected:after {
    content: '';
    position: absolute;
    right: 10px;
    background-image: url("../../../assets/images/Navvis_ch_spritesheet.svg");
    background-position: -144px -16px;
    height: 16px;
    width: 16px;
}

.Select-option.is-focused {
    background-color: #f1e7f7;
    color: #333;
}
.Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
}
.Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
.Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
}
.Select--multi.Select--rtl .Select-input {
    margin-left: 0;
    margin-right: 10px;
}
.Select--multi.has-value .Select-input {
    margin-left: 5px;
}
.Select--multi .Select-value {
    background-color: #ffffff;
    /* Fallback color for IE 8 */
    border: 1px solid #b7b7b7;
    /* Fallback color for IE 8 */
    border: 1px solid rgba(183, 183, 183, 1);
    color: #444444;
    display: flex;
    font-size: 0.9em;
    line-height: 1.4;
    margin: 5px;
    height: fit-content;
    padding: 0 6px 2px 12px;
    vertical-align: top;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
}
.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
    position: relative;
    order: 1;
    min-width:90px;
}
.Select--multi a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
    text-decoration: underline;
}
.Select--multi .Select-value-icon {
    position: relative;
    cursor: pointer;
    padding: 1px 5px 3px;
    order: 2;
    color: #ffffff;
    border: 0;
}

.Select--multi .Select-value-icon:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    color: #3e3e3e;
    background-image: url("../../../assets/images/removeBlack.svg");
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
}

.Select--multi .Select-value-icon:active {
}
.Select--multi.Select--rtl .Select-value {
    margin-left: 0;
    margin-right: 5px;
}
.Select--multi.Select--rtl .Select-value-icon {
}
.Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
    to {
        transform: rotate(1turn);
    }
}
@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}

.Select-value-label{
    display: block;
    padding: 2px 8px;
}

.Select-value-label img, .Select-option img{
    display: inline-block;
    height: 12px;
    margin-right: 8px;
    top: -1px;
    position: relative;
    width: auto;
}

.SelectWithFlag .Select-value{
    padding: 0 15px 2px 14px;
}

.Select.is-open > .Select-control span.Select-arrow {
    border-color: #999999;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
    background-color: #ffffff !important;
}

.Select-input > input {
    color: #000000 !important;
}