@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.resetPasswordSuccess-body { 
  height: 100vh!important;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif!important;
  background: url(../../../assets/images/background.png) no-repeat center center fixed;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../assets/images/background.png',sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg../../../assets/images/background.png',sizingMethod='scale')";
}

div.heading{
	position: absolute;
	top: 0;
}

.heading > h2{
	color:#fff;
	font-size: 20px;
	margin: 20px 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.jumbotron {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 8px;
  background-color: transparent!important;
}
.login-box{
	background-color: transparent!important;
  border: none!important;
  margin: 0 auto;
	width: 410px;
	height: auto;
}
.login-bg1{
	border: 1px solid #fff;
	border-radius: 10px;
	background-color: rgba(60, 16, 92, 0.7);
	color:#fff;
}
.login-body{
	padding: 30px;
}
.login-body span{
    color: #d5a0f1;
}
.login-body span:hover{
  text-decoration: underline;
  cursor: pointer;
}
.login-body p{
	font-size:14px;
}
.icon-check{
	background: url(../../../assets/images/tick-inside-circle.svg) no-repeat center;
	color:#fff;
	width: 100%;
	height: 60px;
	margin: 20px 0 20px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.login-box{
	width: 260px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.login-box{
	width: 380px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.login-box{
	width: 410px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.login-box{
	width: 410px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.login-box{
	width: 410px;
	}
}