.InputInDeWidget{
    display: flex;
    color: #7a329f;
}

.InputInDeWidget input{
    text-align: center;
    width: 50px;
    margin: 0 10px;
    opacity: 1;
    position: relative;
}

.InputInDeWidget span{
    font-size: 24px;
    
    padding: 3px;
    border: 1px solid #7a329f;
    
    text-align: center;
    top: 10px;
    position: relative;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.InputInDeWidget span.plus{line-height: 14px;
    height: 20px;
    width: 25px;}
.InputInDeWidget span.minus{line-height: 8px;
    height: 22px;
    width: 25px;}
/* line-height: 14px; */
.InputInDeWidget span:first-child{
    padding: 1px;
}

.InputInDeWidget span:hover{
    cursor: pointer;
    background-color: #f4ecfc;
}