.login-body span{
    color: #b286bc;
}
.login-body span:hover{
  text-decoration: underline;
  cursor: pointer;
}
.login-body p{
	font-size:16px;
}
.icon-check{
	background: url(../../../assets/images/tick-inside-circle.svg) no-repeat center;
	color:#fff;
	width: 100%;
	height: 60px;
	margin: 20px 0 20px 0;
}

.email-length{
	font-size: 16px;
	text-decoration: none !important;
	color:#fff !important;
	cursor: none !important;
}

.login-body span u {
    font-weight: 600;
}