.VisitSummaryWidget{
    display: flex;
    display: -moz-flex;
}

.VisitSummaryWidget .LeftWidget{
    width: 60%;
    border-right: 1px solid #dcdcdc;
}

.VisitSummaryWidget .RightWidget{
    width: 40%;
}

.LeftWidget .LeftContent, .RightWidget .RightContent{
    padding: 20px 30px 30px 30px;
}

.SummaryContentTitle{
    color: #7a329f;
    font-size: 18px;
    font-weight: 600;
}

.CategoryName{
    color: #444444;
}

.CategoryName span{
    display: block;
}

.CategoryTitle{
    margin-bottom: 5px;
}

.CategorySub{
    font-size: 14px;
}

.CostTableWidget{
    position: relative;
    padding-right: 15px;
}

.CostTableWidget .CostTableContainer{
    color: #444444;
}

.CostTableWidget .CostTableContainer p span, .EstimatedCostWidget .EstimatedCostContainer p span{
    display: block;
}

.CostTableWidget .CostTableContainer.Cost{
    text-align: right;
}

.CostTableContainer.Cost p.TotalCost span{
    font-weight: 600;
}

div.EstimatedCostWidget{
    border: 1px solid #7a329f;
    padding: 10px 15px;
    margin: 30px 0 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.EstimatedCostWidget .EstimatedCostContainer.Label{
    padding-left: 0;
}

.EstimatedCostWidget .EstimatedCostContainer.Cost, .CostTableContainer .TotalCost{
    text-align: right;
    font-weight: 600;
    padding-right: 0;
}

.EstimatedCostWidget .EstimatedCostContainer p{
    margin: 0;
    color: #7a329f;
}

.EstimatedCostWidget .EstimatedCostContainer p span:first-child{
    margin-bottom: 5px;
}

.SummaryRange{
    display: flex;
    display: -moz-flex;
    font-size: 14px;
}

.SummaryRange .bottomTaskName, .SummaryRange .bottomTaskRange{
    margin-right: 10px;
}

.SummaryRange .bottomTaskRange{
    width: 100%;
    top: 10px;
}

.SummaryRange .bottomTaskRange, .SummaryRange .bottomTaskRange .bottomTaskCompletedRange{
    height: 5px;
}

.CostTableContainer.Total{
    display: flex;
    display: -moz-flex;
    justify-content: space-between;
    border-top: 1px solid #dcdcdc;
    padding: 10px 30px 0 0;
    margin: 0 0 0 15px;
}

.EditIcon{
    position: absolute;
    right: 3px;
    top: 3px;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/edit.svg");
    background-size: 100%;
    background-position: center
}

.EditIcon:hover{
    cursor: pointer;
}

.DisclaimerText{
    font-size: 12px;
    color: #8c8c8c;
    margin-top: 10px;
}

.SignatureColumn{
    height: 320px;
    width: 100%;
    border: 1px solid #acacac;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.SignatureColumn.Patient{
    height: 160px;
}

.react-numeric-input{
    margin-right: 20px;
    margin-left: 5px;
}

.react-numeric-input, .react-numeric-input input{
    width: 45px !important;
    height: 25px;
    font-size: 14px;
}

.react-numeric-input b{
    background: #ffffff !important;
    border: 0 !important;
    box-shadow: none !important;
}

.react-numeric-input b i{
    border-width: 0 5px 4px !important;
}

.react-numeric-input b:last-child i{
    border-width: 4px 5px 0 !important;
}

.NumericInput{

}

.NumericInput:focus, .NumericInput:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.AdjustTimeForm{
    padding: 20px;
    color:#444;
}
.AdjustTimeForm .AdjustTimeContent input
{
    color:#444;
}

.AdjustTimeForm .AdjustTimeText{
    font-weight: 600;
}

.AdjustTimeForm .AdjustTimeContent{
    font-size: 14px;
    margin-bottom: 60px;
}

/*********************************************************************************************************************/

.SummaryTime{
    font-size: 14px;
    margin-bottom: 5px;
}

.SummaryTime span{
    display: inline-block;
    width: 90px;
}

.SummaryTime .SummaryTotalTime{
    width: auto;
    font-weight: 600;
}

.TabContainerWidget.Individual .TabContainer{
    padding: 15px 30px 15px 0;
    height: 80px;
}

.TabContainerWidget.Individual .TabContainer .ServiceTasksImg {
    top: 4px;
    position: relative;
}

.TabContainerWidget.Individual .TabContainer .TabHeaderContent .TabHeaderText{
    font-size: 16px;
}

.TabContainerWidget.Individual .TabContainer:after{
    right: 10px;
}

.ServiceList.Summary label.ServicesLink{
    margin: 0 0 0 60px;
}

.ServiceList.Summary:before {
    left: 24px;
}

.ServicesLink.active{
    color: #444444;
}

.SPRating{
    font-size: 14px;
    font-weight: 600;
    color: #6d6d6d;
    padding: 4px 7px;
    margin-left: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
}

.FeedbackLink{
    font-weight: 600;
    color: #7a329f;
}

.FeedbackLink:hover{
    cursor: pointer;
}

.modal-body div.bottomButton{
    display: none;
}

.FeedbackModal .modal-body{
    padding: 0;
}

button.btn.CancelSignature{
    padding: 5px 8px !important;
    font-size: 14px;
    margin-top: 15px;
}

.VisitSummaryWidget .LeftWidget.FullContainer{
    width: 100% !important;
    border: 0;
}

.SummaryContentTable p{
    display: flex;
    justify-content: space-between;
}

.SummaryRangeWidget{
    width: 200px;
    text-align: right;
}

.SummaryContentTable p span{
    width: calc(100% - 130px);
    text-align: right;
}

.SummaryContentTable p span.SummaryContentTableTitle{
    width: 125px;
    margin-right: 5px;
    text-align: left;
}

/*********************************************************************************************************************/

@media (max-width: 1920px){
    div.modal-lg {
        max-width: 1350px;
    }
}

@media (max-width: 1366px){
    div.modal-lg {
        max-width: 1100px;
    }
}

@media (max-width: 1244px){
    div.modal-lg {
        max-width: 900px;
    }
}

@media (max-width: 768px){
    .VisitSummaryWidget {
        flex-direction: column;
    }

    .VisitSummaryWidget .LeftWidget, .VisitSummaryWidget .RightWidget{
        width: 100%;
        border: 0;
    }

    .VisitSummaryWidget .LeftWidget{
        border-bottom: 1px solid #dcdcdc;
    }

    .DisclaimerText {
        margin-bottom: 0;
    }

    .SummaryContentTable p span, .SummaryRangeWidget{
        width: calc(100% - 130px);
        text-align: right;
    }

    .SummaryContentTable p span.SummaryContentTableTitle{
        width: 125px;
        margin-right: 5px;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .LeftWidget .LeftContent, .RightWidget .RightContent {
        padding: 0 20px 20px;
    }

    .SummaryContentTitle {
        margin: 20px 0 10px 0;
    }

    .CostTableContainer, .SummaryContentTable p{
        font-size: 14px;
    }

    .SummaryContentTable p span, .SummaryRangeWidget{
        width: calc(100% - 120px);
        text-align: right;
    }

    .SummaryContentTable p span.SummaryContentTableTitle{
        width: 115px;
        margin-right: 5px;
        text-align: left;
    }

    .CostTableContainer.Label, .EstimatedCostContainer.Label{
        width: 72%;
        padding: 0 0 0 15px;
    }
    .CostTableContainer.Cost, .EstimatedCostContainer.Cost{
        width: 28%;
        padding: 0 15px 0 0;
    }

    div.EstimatedCostWidget{
        margin: 15px 0 0;
        font-size: 14px;
    }

    .RightContent p{
        font-size: 14px;
    }

    .RightContent p.SummaryContentTitle{
        font-size: 18px;
    }

    .CostTableContainer.Total {
        padding: 10px 15px 0 0;
    }

    .ServiceContent .bottomButton a.btn {
        font-size: 14px;
    }

    .SummaryRange{
        margin-bottom: 20px;
    }

    .SignatureColumn {
        height: 200px;
    }
}

.requestImageContent {
    cursor: pointer;
}