.visitListWidget{
    display: flex;
    display: -moz-flex;
    color: #444444;
}

.visitListContainerLeft{
    width: calc(100% - 50px);
}

.visitListContainerRight{
    border-left: 1px solid #dcdcdc;
    margin-left: -1px;
}

.visitListNavigation{
    display: block;
    position: relative;
    width: 50px;
    height: 100%;
}

.visitListNavigation:hover {
    background-color: #f0e6f2;
    cursor: pointer;
}

.visitListNavigation:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/Caret.svg");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.visitListTop{
    padding: 15px 30px;
    border-bottom: 1px solid #dcdcdc;
}

.visitListTop span{
    position: relative;
    font-size: 14px;
    padding: 0 15px;
    border-left: 1px solid #444444;
}

.visitListTop span:first-child{
    padding-left: 0;
    border: 0;
}

div.full-block {
    width: 100%;
    margin: 0;
}

.right-uservisit-view {
    display: flex;
    align-items: center;
    width: auto;
    right: 0;
    top: 0;
}

.visitListTop .visitListTime span:last-child {
    text-align: right;
    right: 82px;
    position: absolute;
    border-left: 0;
    padding: 0;
}

.visitListBottom .visitListContent{
    display: flex;
    display: -moz-flex;
    padding: 15px 30px;
}

.visitListImageContainer, .visitListImage{
    height: 40px;
    width: 40px;
}

.visitListImageContainer{
    margin-right: 15px;
}

.visitListTask{
    display: flex;
    display: -moz-flex;
    flex-direction: row;
}

.visitListTask, .visitListCategory{
    font-size: 14px;
}

.visitListCategory{
    margin: 5px 0;
}

.visitListTask .bottomTaskRange, .visitListTask .bottomTaskCompletedRange{
    height: 5px;
}

.right-uservisit-view .visitUserPic
{
    margin-right: 8px;
}

.visitUserPic .avatarContainer{
    height: 40px;
    width: 40px;
}

.less-margin
{
    margin-bottom: 0px;
}

.summary-view-right
{
position: relative;
top:initial;
margin-top: 0;
}

.rating-block
{
    width: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.rating-block .rating-span-title
{
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.rating-block .rating-span-title > p{
    margin: 0;
}

.rating-span-title span {
display: table-cell;
width: 50%;
vertical-align: middle;
}

.rating-span-title span .visitUserPic-block {
    width: auto;
    position: absolute;
    margin-top: 0;
    right: 36px;
    margin-top: -22px;
    vertical-align: middle;
}

.rating-span-title .SPRating.particular-rating {
    display: inline-block;
    width: auto;
    margin: 0;
}

/*********************************************************************************************************************/

.text__c-txt___14ptu, div.SelectDropDown{
    height: 100%;
    min-height: 100%;
}

div.SelectDropDown{
    position: relative;
    background-color: rgba(0,0,0,0);
    font-size: 0;
    border: 0;
    width: 50px;
    padding: 0;
}

div.SelectDropDown:before{
    top: 4px !important;
}

div.SelectDropDown:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 14px;
}

div.SelectDropDown.sorting:after{
    content: 'Sort';
    color: #7a329f;
}

li.ListItem{
    font-size: 14px;
    color: #444444;
    padding: 10px 25px 10px 15px;
}

li.ListItem[aria-selected = 'true']{
    color: #7a329f;
}

li.ListItem.disabled{
    color: #444444 !important;
    border-bottom: 1px solid #dcdcdc;
    padding: 15px;
}

.right-uservisit-view .visitUserName
{
font-size:16px;
color: #444444;
}
.right-uservisit-view .visitUserPic
{
    margin-right: 8px;
}

.visitUserPic .avatarContainer{
    height: 40px;
    width: 40px;
}

.less-margin
{
    margin-bottom: 0px;
}

.summary-view-right
{
position: relative;
top:initial;
margin-top: 0;
}

.rating-block
{
    width: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.rating-block .rating-span-title
{
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.rating-block .rating-span-title > p{
    margin: 0;
}

.rating-span-title span {
display: table-cell;
width: 50%;
vertical-align: middle;
}

.rating-span-title span .visitUserPic-block {
    width: auto;
    position: absolute;
    margin-top: 0;
    right: 36px;
    margin-top: -22px;
    vertical-align: middle;
}

.rating-span-title .SPRating.particular-rating {
    display: inline-block;
    width: auto;
    margin: 0;
}

/*Responsive-for-mobile-devices*/
@media only screen and (max-width: 767px) {
    div.visitListBottom .visitListContent, div.visitListTop {
        padding: 10px 10px;
    }
    .full-block .visitListNameContainer
    {
        width: 100%;
        display: block;
        font-size: 14px;
    }

    .right-uservisit-view .visitUserName {
        font-size: 13px;
        color: #444;
    }
    .right-uservisit-view .visitUserPic {
        margin-right: 7px;
    }
    .visitUserName
    {
        margin-left: 20px;
    }
    .visitListNameContainer .visitListTask
    {
     font-size:13px;
    }
}
/*-/End-Responsive-for-mobile-devices*/
/*********************************************************************************************************************/