.send-btn{
	background-color: #7a329f;
	color:#fff;
	font-size:16px;
	margin: 20px 0 20px 0;
	padding: 10px;
}
.emailField {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: hidden;
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid #8f669d;
    line-height: 0;
    padding: 10px;
    text-align: center;
    color: #fff!important;
    font-size: 16px;
}
.form-group{
	margin:20px 0 20px 0!important;
}
.login-body .login{
    color: #ffffff;
}
.login-body .login:hover{
  text-decoration: underline;
  cursor: pointer;
}
.login-body .emailField::-webkit-input-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .emailField::-moz-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .emailField:-ms-input-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .emailField::-ms-input-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .emailField::placeholder {
  color: #8f669d;
  opacity: 1;
}