.sort-block .dropdown-item-checked::before {
    position: absolute;
    right: .4rem;
    content: '✓';
    font-weight: 600;
    width:16px;
    height:13px;
    color:#7a329f;
    font-size: 19px;
      /* background: url('../../../assets/images/checked.svg') no-repeat right; */
  }
  .sort-block .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.sort-block .dropdown-menu
{
    width: 200px !important;
    height: 179px !important;
    border-radius: 4px !important;
    -moz-border-radius:4px !important;
    -webkit-border-radius:4px !important;
    background-color: #ffffff !important;
    box-shadow: 0 0 11.5px 0.5px rgba(0, 0, 0, 0.08) !important;
    -moz-box-shadow: 0 0 11.5px 0.5px rgba(0, 0, 0, 0.08) !important;
    -webkit-box-shadow: 0 0 11.5px 0.5px rgba(0, 0, 0, 0.08) !important;
    border:none !important;
    left: -130px !important;
    padding: 10px 0px !important;
}
.sort-block div.dropdown-item
{
    font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   color: #444444;
   line-height: 20px !important;
    padding-bottom: 11px !important;
    background: none !important;
}

.sort-block div.dropdown-item:focus, .sort-block a.dropdown-item:hover {
    color: #7a329f !important;
    text-decoration: none !important;
    background-color: #f8f9fa !important;
}

.sort-block div.dropdown-item.active, a.dropdown-item:active {
    color: #7a329f !important;
    text-decoration: none !important;
    background-color: #fff !important;
}

  .sort-block .btn-secondary
  {
    color: #7a329f !important;
    background-color:transparent !important;
    border-color:transparent !important;
    font-size:14px !important;
    font-family: 'Open Sans', sans-serif;
  }
  .sort-block .btn-secondary:not(:disabled):not(.disabled):active:focus
  {
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
  }
  .sort-block .btn-secondary:focus
  {
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    outline: transparent !important;
  }

  .sort-block hr
  {
margin: 10px 0px;
  }

  .SortBlock{

  }
  
  .SortBlock .btn-group{
  
  }
  
  .SortBlock .btn-group button.multiselect {
    background-color: rgba(0,0,0,0);
    padding: 8px 0 !important;
    margin: 0 15px;
  }
  
  .SortBlock .btn-group button:focus, .SortBlock .btn-group button:active{
    box-shadow: none;
  }
  
  .SortBlock .btn-group .multiselect-selected-text{
    font-size: 0;
  }
  
  .SortBlock .btn-group button.dropdown-toggle::after{
    position: relative;
    top: 2px;
    border-top: 4px solid #7a329f;
    border-right: 4px solid rgba(0,0,0,0);
    border-bottom: 0;
    border-left: 4px solid rgba(0,0,0,0);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .2s linear;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all .2s linear;
  }
  
  .SortBlock .btn-group button.dropdown-toggle[aria-expanded=true]::after{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  
  .SortBlock .btn-group .multiselect-selected-text:before{
    content: 'Sort';
    position: relative;
    font-size: 14px;
    color: #7a329f;
  }
  
  .SortBlock .btn-group .multiselect-container{
    padding: 5px 0;
  }
  
  .SortBlock .btn-group .multiselect-container .multiselect-item:first-child{
    display: none;
  }
  
  .SortBlock .btn-group .multiselect-container .multiselect-item{
    border-bottom: 1px solid #eaeaea;
    padding: 0;
    height: 0;
  }
  
  .SortBlock .btn-group .multiselect-container li a{
    display: block;
    position: relative;
    padding: 6px 25px 6px 10px;;
  }
  
  .SortBlock .btn-group .multiselect-container li label.checkbox{
    width: 100%;
    font-size: 14px;
    padding: 0;
  }
  
  .SortBlock .btn-group .multiselect-container li label.checkbox input{
    position: absolute;
    opacity: 0;
  }
  
  .SortBlock .btn-group .multiselect-container li label.checkbox:hover, .SortBlock .btn-group .multiselect-container li.active label.checkbox{
    color: #7a329f;
  }
  
  div.SortDropDown button.btn{
    padding: 0 !important;
    border: 0;
    margin-right: 15px;
    margin-top: 3px;
  }
  
  div.SortDropDown button.btn, div.SortDropDown button.btn:hover, div.SortDropDown button.btn:focus{
    background-color: rgba(0,0,0,0) !important;
    color: #7a329f !important;
    outline: 0;
    box-shadow: none !important;
  }
  
  .SortBlock .SortMenu .SortItem{
    position: relative;
    font-size: 14px;
    padding: 8px 30px 8px 10px;
    color: #444444;
  }
  
  .SortBlock .SortMenu .SortItem:hover{
    cursor: pointer;
  }
  
  .SortBlock .SortMenu .SortItem.active, .SortBlock .SortMenu .SortItem:focus, .SortBlock .SortMenu .SortItem:active{
    background-color: rgba(0,0,0,0);
    color: #7a329f;
  }
  
  .SortBlock .SortMenu .SortItem.active:after{
    content: '';
    position: absolute;
    right: 8px;
    top: 12px;
    height: 12px;
    width: 12px;
    background-image: url('../../../assets/images/checked_purple.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .SortBlock .SortMenu hr{
    margin: 5px 0;
  }
  
  .SortBlock .btn-group .multiselect-container li label.checkbox:focus, .SortBlock .btn-group .multiselect-container li label.checkbox:active, .SortBlock .btn-group .multiselect-container li a:focus{
    outline: 0;
  }

  /* .ProfileHeaderOption .SortBlock .SortMenu .dropdown-item-checked {
    background-color: transparent !important; 
    color: #7a329f !important;
}
.ProfileHeaderOption .SortBlock .SortMenu .dropdown-item-checked:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 12px;
  height: 12px;
  width: 12px;
  background-image: url(/static/media/checked_purple.ff93f2ba.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
} */