.AboutModal .modal-content .modal-header{
    display: none;
}

.AboutModal .modal-content .modal-body{
    padding: 0;
}

.closeAboutModal:hover{
    cursor: pointer;
}

.closeAboutModal{
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 15px;
    right: 15px;
    background-image: url("../../assets/images/removeWhite.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index: 1;
}

.AboutModalWidget, .AboutModalTitle, .AboutModalFooter{
    position: relative;
    display: flex;
    display: -moz-flex;
}

.AboutModalWidget{
    padding: 0;
    flex-direction: column;
}

.AboutModalTitle, .AboutModalFooter{
    justify-content: space-between;
}

.AboutModalTitle{
    padding: 30px 30px 45px 30px;
    font-size: 12px;
    color: #ffffff;
    background-image: linear-gradient(0deg,#67307f,#3b1a53);
    flex-direction: column;
    overflow: hidden;
}

.AboutModalTitle .bgImage{
    position: absolute;
    top: 0;
    right: 50px;
}

.AboutModalTitle .AboutTitleImage{
    height: 26px;
}

.AboutModalTitle .AboutTitleImage > img{
    height: 100%;
}

.AboutModalTitle span{
    margin-top: 10px;
}

.AboutModalContent{
    display: flex;
    padding: 30px;
}

.AboutModalContent span.version{
    position: absolute;
    top: 65px;
    color: #fff;
    font-size: 12px;
    left: 35px;
}

.AboutModalContent .AboutContentContainer.Right{
    display: flex;
    width: 40%;
    padding: 0 0 0 15px;
    flex-direction: column;
    justify-content: center;
}

.AboutModalContent .AboutContentContainer.Left{
    padding: 0px 15px 0px 0px;
}

.AboutModalContent .AboutContentContainer .LinkCard{
    display: flex;
    position: relative;
    height: 64px;
    width: 100%;
    font-size: 14px;
    padding: 15px 15px 15px 60px;
    margin: 8px 0;
    color: #7a329f;
    overflow: hidden;
    align-items: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}

.AboutModalContent .AboutContentContainer .LinkCard a{
    color: #7a329f;
}

.AboutContentContainer .LinkCard img{
    position: absolute;
    height: 42px;
    opacity: 0.15;
    left: 10px;
}

.AboutContentContainer:first-child{
    /*margin-bottom: 30px;*/
}

.AboutModalContent h4{
    color: #7a329f;
    font-size: 18px;
    font-weight: 600;
}

.AboutModalContent p{
    font-size: 14px;
    color: #444;
}

.AboutModalFooter{
    color: #7a329f;
    font-size: 14px;
    border-top: 1px solid #acacac;
    padding: 10px 0 0 0;
}

/*Resposive-bug-fixed*/
@media only screen and (max-width: 766px) {
    .AboutModalContent {
      display: block;
    }

    .AboutModal
    {
        margin: 0 auto !important;
        padding: 0px 8px !important;
        max-width: 100% !important;  
    }

    .AboutModalContent .AboutContentContainer.Right
    {
    display: block;
    clear: both;
    width: 100%;
    padding-left: 0;
    }
}