.Loader{
    display: block;
    position: fixed;
    top: 0;
    right:0;
    height: 100%;
    width:88%;
    background-color: rgba(255,255,255,10);
    background-image: url("../../../assets/images/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
    margin:0 auto;
}

