.Loader{
    display: block;
    position: fixed;
    top: 0;
    right:0;
    height: 100%;
    width:auto; 
    background-color: rgba(255,255,255,10);
    background-image: url("../../../assets/images/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
    margin:0 auto;
}

.mainWidgetOverflow .Loader
{
    width:100% !important;
}

@media screen and (max-width: 1366px)
{
    .Loader
    {
        width: calc(100% - 170px) !important;
    }
} 

@media only screen and (max-width: 1280px)
{

    .Loader
    {
        width: calc(100% - 170px) !important;
    }

}



@media only screen and (max-width: 1024px)
{

    .Loader
    {
        width: calc(100% - 150px) !important;
    }

}
@media only screen and (max-width: 820px)
{

    .Loader
    {
       width:100% !important;
    }

} 



