.PaymentCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
}

.VisitPaymentlabel{
    font-size: 14px;
}

.PaymentCardContainer .form-radio{
    width: 30.597%;
    margin: 0 0 20px 30px;
}

.PaymentCardContainer .form-radio-label{
    background-color: #f8f8f8;
    padding: 25px;
}

.PaymentCardContainer .form-radio-input:checked~.form-radio-label:after{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    top: 15px;
    right: 15px;
    background-color: #7a329f;
    background-image: url("../../../assets/images/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.PaymentCardContainer .form-radio-label:hover, .PaymentCardContainer .form-radio-input:checked~.form-radio-label{
    background-color: #f0e6f2;
}

.PaymentDeleteButton{
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 15px;
    background-color: #ffffff;
    background-image: url("../../../assets/images/Delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    border: 1px solid #7a329f;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.PaymentDeleteButton:hover{
    background-color: #f0e6f2;
    cursor: pointer;
}

.PaymentCardNumberContainer, .PaymentCardNameContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.PaymentCardNumberContainer{
}

.PaymentCardNameContainer {
    justify-content: space-between;
    margin-bottom: 0;
}

.PaymentCardImageContent{
    margin-right: 10px;
}

.PaymentCardImageContent img{
    width: 40px;
}

.PaymentCardNumberContent, .PaymentCardNameContent, .PaymentCardExpireContent{
    display: flex;
    flex-direction: column;
    color: #444444;
}

.PaymentCardLabel{
    font-size: 12px;
    color: #acacac;
}

.PaymentCardName{
    font-size: 14px;
}