@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    div.sideContent {
        width: 380px !important;
    }

    div.mainWidgetOnboarding{
        width: calc(100% - 380px) !important;
    }
}

@media (max-width: 768px) {
    div.mainWidgetOnboarding {
        width: 100%;
    }
}

div.sideContent{
    width: 490px;
}

div.mainWidgetOnboarding{
    width: calc(100% - 490px);
}

.SuccessMessage{
    display: block;
    width: 100%;
    word-wrap: break-word;
}

div.onBoarding {
    background-color: #fff;
    width: calc(100% - 490px);
}

div.row.emptyGuardianRow{
    height: 100%;
}

.onBoarding .mainWidget {
    height: calc(100% - 60px);
    min-height: calc(100% - 60px);
}

.onBoarding .mainWidget .mainContent {
    height: calc(100% - 70px);
    position: relative;
}

.onBoardingPageTitle {
    font-size: 24px;
    color: #7a329f;
    margin-bottom: 30px;
}

.onBoardingPageTitle i{
    font-size: 18px;
    font-style: italic;
}

.onBoardingInfo {
    color: rgba(68, 68, 68, 0.7);
}

.onBoardingInputWidget {
    margin-bottom: 30px;
}

.btn.onBoardingBtn{
    padding: 10px 20px !important;
}

.onBoardingSelect {

}

.OnboardingAlert{
    height: 25px;
}

.onBoardingInputWidget label, .onBoardingSelectWidget label{
    margin: 0;
}

.onBoardingSelect .Select-control {
    border: 0;
    border-bottom: 1px solid #acacac;
    height: 36px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.inputFailure.onBoardingSelect .Select-control {
    border-color: #c04e59;
}

.onBoardingSelect .Select-menu-outer {
    max-height: 200px;
}

.onBoardingSelect .Select-menu-outer .Select-menu {
    max-height: 160px;
}

.onBoardingUserId {

}

.onBoardingRadio .form-radio:first-child {
    padding: 0 15px 0 0;
}

.emptyGuardianWidget{

}

.tempPassForm .form-group input.form-control:focus, .tempPassForm .form-group input.form-control:active
{
    border-color: #495057 !important;
}
.mainWidgetOnboarding  .mainContent .text-danger
{
    color: #c04e59 !important;
}

.mainWidgetOnboarding  .mainContent .text-success
{
    color: #268240 !important;
}

.mainWidgetOnboarding  .mainContent .verify-title
{
    color:#7a329f !important;
}
.default-444
{
    color: #444;
}

.tempPassword .text-muted
{
    color: #8c8c8c;
}
.defaualt-purple
{
color:#7a329f !important;
}
label.license-agreespan
{
margin-left: 5px !important;
}

.EULAModalContent h4, .EULAModalContent h5, .EULAModalContent p, .EULAModalContent .agreementList li
{
color: #444;
}

.succss-idblock
{
    margin-top: 30px;
    display: block;
}

/*cross-browser-bug-fixed-e11*/

@media all and (-ms-high-contrast:none)
     {
        .verify-msgie11 { width: 100%; display: block !important; } /* IE10 */
     *::-ms-backdrop, .verify-msgie11 { width: 100%; display: block !important; } /* IE11 */
     }


@media (max-width: 1024px) {
    div.onBoarding {
        width: calc(100% - 380px);
    }
}

@media (max-width: 768px) {
    div.onBoarding {
        width: 100%;
    }
}


/*bug-fixing-for-tab-&-mobile*/
@media only screen and (max-width: 820px)
{
    div.sideContent {
        width:100%;
     }
}

@media only screen and (max-width: 767px) {

     .onBoarding .mainWidget
     {
        height: calc(100% - 43px);
        min-height: calc(100% - 43px);
     }


     .onBoarding .mainWidget .mainContent {
         margin-top: 0px;
         overflow-y: auto;
     }
     .onBoarding .mainWidget .mainContent .col-md-12
     {
        margin-top: 120px; 
     }

     
}


.CertificationModal .modal-body .OnboardingAlert
{
height: auto;
}