@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.resetPassword-body { 
  height: 100vh!important;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif!important;
  background: url(../../../assets/images/background.png) no-repeat center center fixed;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../assets/images/background.png',sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg../../../assets/images/background.png',sizingMethod='scale')";
}

.div.heading{
	position: absolute;
	top: 0;
}

.heading > h2{
	color:#fff;
	font-size: 20px;
	margin: 20px 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.jumbotron {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 8px;
	background-color: transparent!important;
}
.login-box{
	background-color: transparent!important;
    border: none!important;
    margin: 0 auto;
	width: 410px;
	height: auto;
}
.login-bg{
	border: 1px solid #fff;
	border-radius: 10px;
	background-color: rgba(60, 16, 92, 0.7);
	color:#fff;	
}
.login-bg2{
	height: 337px;
}
.login-body{
	padding: 30px;
}
.login-body > h3{
	font-size: 20px;
	margin-top: 20px;
}
.login-btn{
	background-color: #6b367f;
	color:#fff;
	font-size:16px;
	margin: 20px 0 20px 0;
	padding: 10px;
}
.passwordField {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: hidden;
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid #8f669d;
    line-height: 0;
    padding: 10px;
    text-align: center;
    color: #fff!important;
    font-size: 16px;
}
.login-body .form-group input:focus {
  background-color: transparent;
	box-shadow:none;
	border-color: #d5a0f1;
}
.form-group{
	margin:20px 0 20px 0!important;
}
.login-body .passwordField::-webkit-input-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .passwordField::-moz-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .passwordField:-ms-input-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .passwordField::-ms-input-placeholder {
  color: #8f669d;
  opacity: 1;
}
.login-body .passwordField::placeholder {
  color: #8f669d;
  opacity: 1;
}
.Forgot-Password {
  font-size: 16px;
  text-align: center;
}
.login-body div, .login-body div:hover{
    color: #d5a0f1;
}
.login-body p{
	font-size:14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.login-box{
	width: 260px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.login-box{
	width: 380px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.login-box{
	width: 410px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.login-box{
	width: 410px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.login-box{
	width: 410px;
	}
}