
.ServiceContent{
    display: flex;
    display: -moz-flex;
    flex-direction: column;
}

.FeedbackContent{
    display: flex;
    display: -moz-flex;
}

.rating {
    border: none;
    float: left;
}

.rating:hover, .rating > label:hover{
    cursor: pointer;
}

.rating > input {
    display: none;
}

.rating > label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../../../../assets/images/icons/RatingStar.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.rating > label {
    float: right;
    margin: 10px 0 0 0;
}

.rating > input:checked ~ label:before{
    background-image: url("../../../../assets/images/RatingFilledStar.svg");
}


.rating > label:hover ~ input:checked ~ label:before,
.rating > input:checked ~ label:hover ~ label:before,
.rating > input:checked + label:hover:before,
.rating > label:hover:before,
.rating > input:checked ~ label:hover:before,
.rating > input:checked ~ label:before,
.rating:not(:checked)>label:hover~label:before{
    background-image: url("../../../../assets/images/RatingFilledStar.svg");
}

.FeedbackRating{
    display: block;
    padding: 30px;
}

.FeedbackRating > p{
    margin-bottom: 6px;
}

.FeedbackQuestionWidget{
    padding: 0 30px 15px;
}

.FeedbackAnswerWidget{
    display: flex;
    display: -moz-flex;
    flex-wrap: wrap;
}

.FeedbackAnswerWidget .form-radio{
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}

/* .FeedbackAnswerWidget .form-radio .RadioBoxIcon{
    left: 35px;
} */

.FeedbackAnswerWidget .feedbackForm{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 0 0 15px;
}

/* .rightTimerContent span.TimerStarted.running:first-child
{
    left: 0;
    display: inline-flex;
} */

.rightTimerContent span.TimerStarted.running:last-child
{
    bottom: 0px;
    position: relative;
    text-align: left
}
@media (max-width: 1024px){
    .rightTimerContainer div.FeedbackTimer{
        top: 20px;
    }

    .FeedbackTimer .TimerContent{
        top: 0;
    }
}

@media (max-width: 768px){
    .FeedbackTimer span.TimerStarted{
        padding: 0;
    }

    .rightTimerWidget.running{
        padding: 0;
    }

    .FeedbackAnswerWidget .form-radio{
        padding: 0;
    }

    /* .FeedbackAnswerWidget .form-radio .RadioBoxIcon {
        left: 20px;
    } */

    .FeedbackAnswerWidget .feedbackForm {
        padding: 0;
    }
}

.alertedQuestionnaire{
    color: #c04e59;
}