body {
    height: 100%;
    overflow: hidden;
    background-color: #f8f8f8 !important;
}

.navbar-brand {
    /* display: none !important; */
}

section .ProfileRightWidget {
    width: calc(100% - 170px);
    padding: 0;
}

.ProfileRightContainer {
    display: block;
    position: relative;
    height: calc(100% - 60px);
}

.dropdown.nav-item{
    list-style: none;
    display: block;
    position: relative;
    height: 35px;
    width: 35px;
    margin: 0 0 0 8px;
}

a.ProfileIcon{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.ProfileIcon img{
    width: 100%;
    height: 100%;
}

li div.dropdown-menu a{
    color: #444444;
    font-size: 14px;
}

li div.dropdown-menu a:hover{
    background-color: #f3f3f3;
}

li div.dropdown-menu{
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    transform:translate3d(-80%,40px,0) !important
}

.ProfileHeaderWidget {
    display: flex;
    display: -moz-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24px;
    height: 60px;
    align-items: center;
}

.ProfileHeaderButton a.btn {
    font-size: 16px;
    font-weight: normal !important;
    padding: 7px 15px !important;
}

.ProfileHeaderTitle h5 {
    font-size: 20px;
    font-weight: 600;
}

.ProfileHeaderOptions{
    color: #7a329f;
    font-size: 14px;
}

.ProfileHeaderOptions a:hover{
    text-decoration: none;
}

.ProfileHeaderSort{
    margin-right: 42px;
}

.ProfileHeaderSort:after{
    content: '';
    position: absolute;
    right: 84px;
    top: 22px;
    width: 12px;
    height: 20px;
    background-image: url("../../../assets/images/Caret_Dropdown_Purple.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.ProfileContentWidget, .SPContentWidget, .ServiceRequestsWidget {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
    padding: 0 20px;
}

.ProfileContentWidget.ScrollBar, .SPContentWidget.ScrollBar {
    overflow: auto;
}

.SPContentWidget .ProfileContainer {
    width: calc(50% - 20px);
    float: left;
    margin: 0 10px;
}

.SPContentWidget .ProfileContainer.topProfile {
    /* height: calc(100vh - 70px); */
    height: 620px;
}

.SPContentWidget .ProfileContainer .card {
    width: 100%;
    margin: 0 0 20px 0;
}

.SPContentWidget .bottomProfile {
    flex-direction: column;
}

.ServiceRequestsWidget .ProfileContainer {
    width: calc(100% - 20px);
    float: left;
    height: 100%;
}

.ServiceRequestsWidget .ProfileCardHeader{
    border-bottom: 1px solid #dcdcdc;
    height: 76px;
}

.ServiceRequestsWidget .ProfileCardHeader div:first-child{
    height: 76px;
    display: inline-block;
}

.ServiceRequestsWidget .ProfileHeaderButton{
    margin-right: 16px;
}

.HeaderRequestLabelID{
    color: #444444;
}

.HeaderBackButton{
    display: inline-block;
    position: relative;
    height: 15px;
    width: 18px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/navigation/arrow_back_purple.svg");
    background-size: 100%;
    background-position: center;
}

.HeaderRequestLabel{
    padding: 0 20px; 
    font-size: 18px;
    line-height: 76px;
}

.HeaderBackWrapper{
    border-right: 1px solid #dcdcdc;
    padding: 27px 25px;
}

.LeftPalette{
    width: 274px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: solid 1px #b7b7b7;
    margin: 30px 15px 30px 30px;
    padding: 30px;
    float: left;
}

.LeftPaletteHeader{
    font-size: 18px;
}

.rightPalette{
    margin: 40px 29px;
    float: left;
    width: calc(100% - 390px);
    height: 100%;
}

.PostedByImageContainer{
    padding: 15px 0;
    border-bottom: 2px solid #dcdcdc;
}

.PostedByImageContainer .ProfileImage{
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
}

.BlockImageDetails{
    display: inline-block;
    margin: 15px 5px 15px 20px;
    vertical-align: middle;
    width: 265px;
}

.ServiceRequestBoard .BlockImageDetails
{
    margin: 0 auto;
}

.BlockImageDetailsName{
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.BlockImageDetailsActivity{
    font-size: 14px;
    line-height: 14px;
    color: #8c8c8c;
    margin: 0;
    word-wrap: break-word;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 8px 0;
}

.BlockImageDetailsDate{
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    word-wrap: break-word;
}

.BlockImageDetailsDate:after{
    opacity: 0.5;
    content: '';
    position: absolute;
    top: 77px;
    right: 12px;
    width: 12px;
    height: 20px;
    background-image: url("../../../assets/images/Caret.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;    
}

.BlockProfileDetails{
    display: inline-block;
    margin: 0 5px 0 20px;
    vertical-align: middle;
    width: 195px;
}

.BlockProfileDetailsName{
    font-size: 14px;
    color: #444444;
    margin: 0;
    padding: 0 0 5px 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.BlockProfileContainer > img:hover, .BlockProfileDetailsActivity > span:hover, .BlockProfileDetailsName > span:hover{
    cursor: pointer;
}

.BlockProfileContainer.noArrow > img:hover,
.BlockProfileContainer.noArrow .BlockProfileDetailsActivity > span:hover,
.BlockProfileContainer.noArrow .BlockProfileDetailsName > span:hover,
.BlockProfileContainer.noArrow .BlockProfileDetailsStatus a.btn-open:hover,
.BlockProfileContainer.noArrow .BlockProfileDetailsStatus span.btn-open:hover{
    cursor: auto;
}

.BlockProfileDetailsActivity{
    font-size: 12px;
    line-height: 12px;
    color: #8c8c8c;
    margin-bottom: 4px;
}

.BlockProfileDetailsStatus{
    float: right;
    right: 18px;
    position: relative;
}

span.btn-hired, span.btn-hired:hover{
    color: #007f84 !important;
    /* border-color: #007f84 !important; */
    font-size: 12px !important;
    padding: 5px !important;
    line-height: 12px !important;
    cursor: auto;
}

span.btn-applied, span.btn-applied:hover{
    color: #3089df !important;
    /* border-color: #3089df !important; */
    font-size: 12px !important;
    padding: 5px !important;
    line-height: 12px !important;
    cursor: auto !important;
}

span.btn-invited, span.btn-invited:hover{
    color: #7a329f !important;
    /* border-color: #7a329f !important; */
    font-size: 12px !important;
    padding: 5px !important;
    line-height: 12px !important;
    cursor: auto !important;
}

.BlockProfileMatching{
    font-size: 12px;
    padding: 5px;
    line-height: 12px;
    margin: 10px 28px 5px 0;
    display: inline-block;
    color: 444444;
}

.BlockProfileContainer:after{
    opacity: 0.5;
    content: '';
    position: absolute;
    right: 12px;
    width: 12px;
    height: 20px;
    top: 150px;
    background-image: url("../../../assets/images/Caret.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.BlockImageContainer{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(60,16,83,0.1);
}

.BlockImageContainer .ProfileImage{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.BlockProfileContainer{
    padding: 15px 20px;
}

.BlockProfileContainer .ProfileImage{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #f4ecfc;
}

.PostedByProfileDetails{
    display: inline-block;
    margin: 8px 10px;
    vertical-align: middle;
    width: 152px;
}

.ProfileDetailsName{
    font-size: 16px;
    color: #444444;
}

.ProfileDetailsDate{
    font-size: 14px;
    color: rgba(68, 68, 68, 0.7);
}

.ProfileIconDetails{
    font-size: 14px;
    color: rgba(55, 16, 71, 0.5);;
    margin-left: 15px;
}

.ProfileContainer {
    position: relative;
    display: flex;
    display: -moz-flex;
    height: calc(100vh - 540px);
}

.IconCall{
    background-image: url("../../../assets/images/Call_Purple.svg");
}

.IconConversations{
    background-image: url("../../../assets/images/Message_Purple.svg");
}

.IconVideo{
    background-image: url("../../../assets/images/icons/telehealth.svg");
}

.PaletteTabs{
    border: none !important;
}

.PaletteTabs .nav-item .nav-link{
    font-size: 16px;
    margin-bottom: 0;
    padding: 0 0 5px 0 !important;
    margin-right: 26px;
    cursor: pointer;
}

.PaletteTabs .nav-item .nav-link:hover{
    border: none;
}

.PaletteTabs .nav-item .active.nav-link{
    color: #7a329f;
    border: none;
    border-bottom: 2px solid #7a329f;
}

.TabBody{
    margin-top: 20px;
}

.ScheduleTableRow {
    padding: 0;
    font-size: 14px;
    height: 60px;
    border-bottom: 2px solid #dcdcdc;
    clear: both;
}

.ScheduleTableHeader{
    padding: 0;
    font-family: 16px;
    height: 60px;
    border-bottom: 2px solid #dcdcdc;
    clear: both;
}

.ScheduleTableHeader.EligibilityWidget{
    flex-direction: column;
}

ul li.list-group-item.EligibilityList{
    display: flex;
    font-size: 14px;
    padding: 10px 15px 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    justify-content: space-between;
}

.EligibilityItem{
    text-transform: uppercase;
}

.ScheduleTableRow > div, .ScheduleTableHeader > div{
    width: 20%;
    float: left;
}

.ScheduleTableRow > div > span, .ScheduleTableHeader > div > span{
    padding: 20px;
    display: block;
    white-space: nowrap;
}

.ScheduleRowButton a{
    font-size: 14px !important;
    margin: 13px;
    padding: 5px 10px !important;
    float: right;
    height: 33px;
}

.TabBody .ServiceCategoryContent{
    padding: 10px 0; 
}

.TabBody .ServiceTypesSlider div:first-child{
    margin-left: 0;
}

.TabBody .ServiceTypesSlider div:last-child{
    margin-right: 0;
}

.TabBody .ServiceTypeList{
    height: 184px;
}

.TabBody .ServiceTasks.Summary{
    margin: 52px 0;
}

.TabBody .SPAvailWidget{
    margin: 0 -22px;
    padding: 0 15px 15px 15px;
}

a.ProfileCardHeaderLink:hover{
    text-decoration: none;
    color: #7a329f;
}

.ProfileCard {
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;
    padding: 0;
    float: left;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.ProfileCard .list-group .list-group-item {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}

.ProfileCard > .list-group {
    height: 40px;
}

.ProfileCard.extended > .list-group {
    height: 40px;
}

.ProfileCard > .list-group > .list-group-item {
    height: 40px;
}

.myConversationContainer.list-group-item:focus, .myConversationContainer.list-group-item:hover, .mySPContainer.list-group-item:hover, .mySPContainer.list-group-item:focus {
    z-index: auto;
}

.ProfileCardBody {
    padding: 20px 0 0 0;
}

.ProfileCardBody > div {
    padding: 0 20px;
}

.ProfileCard.extended {
    /* height: calc(100vh - 140px); */
    height: 683px;
    z-index: 9;
}

.SPContentWidget .topProfile .ProfileCard {
    height: 100%;
    z-index: 9;
}

.SPContentWidget .topProfile .ProfileCard > .list-group {
    display: none;
}

.SPContentWidget .topProfile .ProfileCard .ProfileCardBody .bottomPalette {
    /* height: calc(100vh - 216px); */
    height: 470px;
}

.ProfileCard.extended .ProfileCardBody .bottomPalette {
    max-height: calc(100vh - 324px);
    overflow-y: hidden;
    height: auto;
}

.ProfileCard .ProfileCardBody .bottomPalette.ServiceRequestPalette .scrollarea-content {
    height: 100%;
}

.ProfileCard.extended .ProfileCardBody .bottomPalette .scrollarea-content, .SPContentWidget .topProfile .ProfileCard .ProfileCardBody .bottomPalette .scrollarea-content {
    height: auto !important;
}

.ProfileCard .ProfileCardBody .bottomPalette .scrollarea-content {
    height: 172px;
}

.ProfileCard.extended .ProfileCardBody .ServiceRequestPalette {
    /* max-height: calc(100vh - 276px); */
    max-height: 547px;
    height: 100%;
}

.ProfileCard.extended .ProfileCardBody, .SPContentWidget .topProfile .ProfileCard .ProfileCardBody {
    height: 100%;
}

.ProfileShowMore {
    font-size: 12px;
    color: #b286bc;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.ProfileIconShowMore {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    top: 1px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/Caret_Dropdown_Purple.svg");
    background-size: 100%;
    background-position: center;
}

.ProfileShowMore:hover {
    color: #7a329f;
    cursor: pointer;
    background-color: #f1e7f7;
    text-decoration: none;
}

.ProfileCard form {
    height: 100%;
}

.ProfileContainer.topProfile, .bottomProfile .innerWidget:first-child {
    /* height: calc(100vh - 430px); */
    height: 330px;
}

.BoardContainer{
    display: flex !important;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.ServiceRequestBoard{
    width: 370px;
    margin-bottom: 20px;
}

.BlockImageContainer:hover{
    cursor: pointer;
}

.ServiceRequestBoard .NewBoard:after{
    content: 'NEW';
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    right: -5px;
    top: 14px;
    width: 12px;
    height: 20px;
    background-color: #e9d9f9;
    color:#7a329f;
    width: 44px;
    padding: 5px 10px;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.DetailsDateSeperator{
    color: #a6a6a6;
    margin-left: 15px;
    margin-right: 15px;
}

.ProfileContainer.bottomProfile {
    min-height: 300px;
    height: auto;
}

div.scrollarea .scrollbar-container.vertical {
    width: 5px;
}

.scrollarea-content {
    min-height: 100%;
}

.ProfileHeaderButton .standBy {
    font-size: 14px;
    color: #444444;
    margin-right: 15px;
}

@media (min-width: 1367px) {
    .SPContentWidget .ProfileContainer.topProfile {
        /* height: calc(100vh - 143px); */
        height: 683px;
    }

    .SPContentWidget .topProfile .ProfileCard .ProfileCardBody .bottomPalette {
        /* height: calc(100vh - 290px); */
        height: 533px;
    }

    .bottomProfile .innerWidget:first-child, .ProfileContainer.topProfile {
        /* height: calc(100vh - 465px); */
        height: 360px;
    }

    div.ProfileCardBody .ServiceRequestPalette {
        /* height: calc(100vh - 623px); */
        height: 200px;
    }

    div.ProfileCardBody .ServiceRequestPalette.EmptySR {
        /* height: calc(100vh - 585px); */
        height: 240px;
    }

    .bottomPalette {
        height: 274px;
    }

    div.bottomPalette .ProfileServicesVisitList .ProfileServicesVisitContent:first-child {
        margin-top: 0;
    }
}

@media (max-width: 1366px) {

    .innerWidget .card.extended {
        /* height: calc(100vh - 140px); */
        height: 620px;
    }

    .innerWidget .ProfileCard.extended .ProfileCardBody .ServiceRequestPalette {
        /* height: calc(100vh - 276px); */
        max-height: 485px;
        height: 100%;
    }

    div.ProfileCardBody .ServiceRequestPalette {
        /* height: calc(100vh - 590px); */
        height: 170px;
    }

    div.ProfileCardBody .ServiceRequestPalette.EmptySR {
        /* height: calc(100vh - 550px); */
        height: 210px;
    }
}

@media (max-width: 1024px) {
    .ProfileLeftWidget {
        width: 150px;
    }

    .profileSideNavigationLink {
        font-size: 12px;
        padding: 6px 0;
    }

    section .ProfileRightWidget {
        width: calc(100% - 150px);
    }

    .SPContentWidget .ProfileContainer.topProfile {
        /* height: calc(100vh - 88px); */
        height: 620px;
    }

    .SPContentWidget .topProfile .ProfileCard .ProfileCardBody .bottomPalette {
        height: calc(100vh - 235px);
    }

    .ProfileCardNameContainer {
        width: 80px;
        cursor: pointer;
    }

    div.ProfileCardBody .ServiceRequestPalette{
        /* height: calc(100vh - 575px); */
        height: 191px;
    }

    div.ProfileCardBody .ServiceRequestPalette.EmptySR {
        /* height: calc(100vh - 530px); */
        height: 230px;
    }

    .ProfileSkillServices {
        max-width: calc(100% - 210px);
    }

    .ProfileApplicationNumbers.Avatar {
        max-width: 140px;
        min-width: 120px;
    }

    .ProfileServices {
        max-width: calc(100% - 193px);
        cursor: pointer;
    }

    .ProfileServices .ServicesTitle, .ProfileSkillServices .ServicesTitle, .SPThreadContent .SPIndiTitle {
        font-size: 14px;
    }

    .ProfileServices .ServicesDesc, .ProfileSkillServices .ServicesDesc, .SPThreadContent .SPContent {
        font-size: 12px;
    }

    .SPThreadContent .SPContent span {
        margin: 0 5px;
    }

    .SPThreadContent .SPContent span:before {
        left: -10px;
    }

    .SPThreadContent {
        line-height: 22px;
        width: calc(100% - 180px);
    }

    .SPAvatarWidget {
        margin: 0 10px 0 0;
    }

    .SPCount .SPRate {
        line-height: 22px;
    }

    .SPCount .SPRate span {
        font-size: 16px;
    }

    .SPCount {
        width: 90px;
    }

    .dateRow label {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .ProfileLeftWidget {
        position: fixed;
        height: 100%;
    }

    section .ProfileRightWidget {
        margin: 0 0 0 150px;
    }

    nav.navbarProfile {
        width: calc(100% - 150px);
        height: 60px !important;
        padding: 10px;
    }

    .card > .list-group {
        display: none;
    }

    .ProfileHeaderWidget {
        margin: 0 20px;
    }

    .ProfileContentWidget, .SPContentWidget {
        padding: 0 10px;
    }

    .ProfileRightContainer {
        margin-top: 60px;
    }

    .ProfileContentWidget .ProfileContainer, .SPContentWidget .ProfileContainer {
        flex-direction: column;
        height: 100%;
    }

    .SPContentWidget .ProfileContainer {
        width: calc(100% - 20px);
    }

    .ProfileContentWidget .ProfileContainer {
        width: 100%;
    }

    .SPContentWidget .ProfileContainer.topProfile, .SPContentWidget .topProfile .ProfileCard .ProfileCardBody .bottomPalette, .bottomProfile .innerWidget:first-child, .ProfileCard .ProfileCardBody .bottomPalette.ServiceRequestPalette .scrollarea-content, .ProfileCardBody .ServiceRequestPalette, .bottomPalette, .ProfileCard .ProfileCardBody .bottomPalette .scrollarea-content {
        height: auto !important;
    }

    .ProfileCardNameContainer {
        width: 110px;
        cursor: pointer;
    }

    div.ServiceRequestPalette .ProfileServicesVisitList .ProfileServicesVisitContent {
        padding: 15px 20px;
    }

    .ProfileServices {
        max-width: calc(100% - 240px);
        cursor: pointer;
    }

    .ProfileServicesVisitList {
        padding: 15px 0;
    }

    .ProfileCard {
        width: calc(100% - 20px);
    }
    .rightPalette{
        width: 100%;
        margin: 40px 29px;
        float: left;
        height: 100%;
    }
    .ScheduleTableRow > div{
        width: 30%;
        float: left;
    }
}

@media (max-width: 480px) {

    .iconProfile{
        margin: 0 10px 0 15px;
    }

    .navbar-brand {
        display: inline-block !important;
        margin: 0 0 0 10px;
    }

    nav.navbarProfile {
        padding: 10px 20px;
    }

    section .ProfileRightWidget {
        margin: 0;
        width: 100%;
    }

    nav.navbarProfile {
        width: 100%;
    }

    .profileSideNavigationLink {
        font-size: 14px;
        padding: 8px 0;
    }

    .ProfileRightContainer {
        margin-bottom: 60px;
    }

    .ProfileLeftWidget {
        z-index: 101;
        width: 180px;
        left: calc(70px - 100%);
    }

    .hiddenScreen {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .4);
        opacity: 0;
        visibility: hidden;
        z-index: 100;
    }

    .hiddenScreen, .ProfileLeftWidget {
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        transition: all ease-in-out 0.2s;
    }

    .ProfileLeftWidget.true {
        left: 0;
    }

    .hiddenScreen.true {
        opacity: 1;
        visibility: visible;
    }

    div.bottomPalette .ProfileServicesVisitList .ProfileServicesVisitContent{
        display: inline-block;
        height: auto;
    }

    .ServicesTimeContainer{
        float: right;
        margin: 0 0 6px 0;
        width: 48px;
    }

    .ProfileServices{
        width: 100%;
        float: left;
        max-width: calc(100% - 60px);
        margin: 0 0 6px 0;
        height: 48px;
        justify-content: center;
        display: flex !important;
        flex-direction: column;
    }

    .ServicesTimeContainer .ServicesTime{
        width: 48px;
        height: 48px;
    }

    .ProfileCardImageContainer{
        height: 40px;
        width: 40px;
        display: inline-block;
        float: left;
    }

    .ProfileCardNameContainer{
        display: flex;
        height: 40px;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 70px);
        float: left;
    }

    .ProfileSubOptions{
        display: flex;
        float: right;
        height: 40px;
        justify-content: center;
        flex-direction: column;
    }

    .ServicesTypeContainer{
        width: 40px;
        float: left;
    }

    .ProfileSkillServices{
        width: 100%;
        max-width: calc(100% - 60px);
    }

    .ProfileApplicationNumbers {
        margin: 8px 0 0 55px;
        padding: 6px 0 0 0;
        border-top: 1px solid #eaeaea;
    }

    div.avatarWidget{
        width: 80px !important;
    }

    .ProfileCardBody>div {
        padding: 0 15px;
    }

    .avatarContainer {
        width: 20px!important;
    }

    .MsgCount {
        width: 72px!important;
    }

    .MsgThreadContent {
        max-width: calc(100% - 152px);
    }

    .ProfileConversation .ProfileConversationWidget li.myConversationContainer, .ProfileConversation .ProfileConversationWidget li.mySPContainer {
        padding: 15px;
    }

    .mySPContent{
        display: block;
    }

    .SPAvatarWidget{
        float: left;
    }

    .SPThreadContent{
        width: calc(100% - 80px);
    }

    .SPCount{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        height: 25px;
        margin: 25px 0 0 0;
        align-items: center;
        justify-content: space-around;
    }

    .SPCount .SPRate, .SPFavouriteIcon{
        display: block;
        margin: 0 auto;
        bottom: 0;
    }

    .SPAvailItems{
        display: block;
        position: relative;
        padding: 5px 15px 5px 40px;
        list-style: none;
        font-size: 16px;
        /* margin: 1px 0; */
        margin: 0;
        color: #444444;
        /* border-bottom: 1px solid #eaeaea; */
        border-top: 1px solid #eaeaea;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .SPAvailItems:last-child{
        /* border: 0; */
    }
}

.ProfileIconEye{
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    top: 5px;
    margin-right: 5px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/ViewEye.svg");
}

/*UI_bugs_fixes_29_10*/
.ServiceRequestsWidget .CardContainers .LeftPalette
{
  width: 274px;
  height: 315px;
}

.TabBody .ServiceCategoryContent .AvailabilityWidget .SPAvailWidget .SPAvailContainer
{
    width: 191px;
    height: 199px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: solid 1px #7a329f;
}