
.navbarProfile{
    height: 60px;
    z-index: 3;
}

.SearchInput{
    border: none !important;
    width: 100%
}

.SearchWidget{
    margin: 0 60px;
}

.topWidgetBG{
    position: absolute;
    height: 300px;
    top: 0;
    /*background-image: linear-gradient(to top, #7a329f, #551178);*/
    background-image: linear-gradient(to top, #67307f, #3b1a53);
    z-index: -1;
}

.SPTitleText{
    font-size: 20px;
    font-weight: normal;
}

.mainWidgetProfile{
    position: relative;
    max-height: calc( 100vh - 100px );
}

.mainWidgetOverflow{
    max-height: calc( 100vh - 60px );
    padding: 15px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

div.mainProfileContent{
    display: block;
    position: relative;
    max-height: calc( 100vh - 60px );
    background-color: rgba(0,0,0,0);
    z-index: 2;
}

.d-flex-view
{
display: block !important;
width: 100%;
}

/* .SPdpContainer{
    display: block;
    position: relative;
    width: 170px;
    height: 170px;
    margin: 0 auto;
} */

/* .SPdpCircularChart {
    display: block;
    position: absolute;
    left: 0;
    height: 170px;
} */

/* .SPdpCircle {
    stroke: #2ab498;
    fill: none;
    stroke-width: 1;
    animation: progress 1s ease-out forwards;
} */

.card.CardWidget{
    padding: 0;
    margin: 0 0 20px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 0 1px 8px 0 rgba(0, 0, 0, .1);
    -moz-border-radius: 0 1px 8px 0 rgba(0, 0, 0, .1);
    border-radius: 0 1px 8px 0 rgba(0, 0, 0, .1);
}

.circular-chart {
    display: block;
    position: absolute;
    left: 0;
    height: 100px;
}
.circle {
    stroke: #2ab498;
    fill: none;
    stroke-width: 1;
    animation: progress 1s ease-out forwards;
}

.disabledCircle {
    stroke: #b7b7b7;
    fill: none;
    stroke-width: 1;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

/* .SPdpImage {
    position: relative;
    display: block;
    width: 140px;
    height:140px;
    padding: 0;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    top: 15px;
    border-radius: 50%;
} */


.card.SPDetails{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.SPRating{
    display: inline-block;
    width: fit-content;
    width: -moz-fit-content;
    margin: 20px auto 0;
    color: #6d6d6d;
    font-weight: 600;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    padding: 4px 12px;
}

/* .SPDetailsContainer{
    min-height: 100px;
    border-left: 1px solid #e1e1e1;
    padding: 40px;
} */

i.SPIconEditPersonalDetails{
    position: absolute;
    top: 30px;
    right: 30px;
}

/* .SPDetailsContainer:first-child {
    border: 0;
} */

/* .SPdpWidget{
    width: 250px;
    text-align: center;
} */

.SPNameWidget{
    width: 525px;
}

.SPAddressWidget{
    width: 335px;
}

.SPName{
    position: relative;
    font-weight: normal;
    font-size: 22px;
}

.SPName:after {
    content: '';
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: 10px;
    background-image: url("../../../assets/images/Verified.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.SPPatientName:after{
    display: none;
}

.ratePerHour {
    display: table;
    width: fit-content;
    margin-left: auto;
    border: 2px solid #7a329f;;
    padding: 4px 12px;
    line-height: 28px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: skew(-24deg);
    -moz-transform: skew(-24deg);
    -ms-transform: skew(-24deg);
    -o-transform: skew(-24deg);
    transform: skew(-24deg);
}

.ratePerHour span{
    display: block;
    width: fit-content;
    margin: 0 10px;
    -webkit-transform: skew(24deg);
    -moz-transform: skew(24deg);
    -ms-transform: skew(24deg);
    -o-transform: skew(224deg);
    transform: skew(24deg);
}

.ratePerHour span:before{
    content: '$';
    margin-right: 4px;
}

.ratePerHour span:after{
    content: '/hr';
    font-size: 14px;
}

.SPCardTitle{
    width: 100%;
    padding: 30px;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.SPCardTitle h4{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.SPsubTitle{
    display: block;
}

.SPsubTitle span{
    display: inline-block;
    font-size: 14px;
    color: #444444;
}

.SPsubTitle span:before{
    content: '';
    position: relative;
    display: inline-block;
    margin: 0 10px;
    top: -3px;
    height: 5px;
    width: 5px;
    background-color: #7a329f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.SPsubTitle span:first-child:before{
    display: none;
}

.SPAffiliatedList{
    font-size: 14px;
    color: #6d6d6d;
    margin-bottom: 25px;
}

.SPAffiliatedList:after{
    content: '____';
    display: block;
    color: #7a329f;
}

.SPAffiliatedList .AffiliatedList{
    display: block;
    margin-bottom: 8px;
}

.SPAffiliatedList .AffiliatedList:before{
    content: '';
    position: relative;
    display: inline-block;
    top: 4px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #a7a6cf;
    background-image: url("../../../assets/images/Certificate.svg");
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
}

.AffiliatedList bd{
    font-weight: 600;
}

.SPDesc{
    font-size: 16px;
    color: #6c6c6c;
    line-height: 20px;
    margin: 0;
}

.SPAddressTitle{
    display: block;
    margin-bottom: 10px;
}

.SPAddressTitle .SPAddressText {
    width: 100%;
    font-weight: 600;
}

.SPAddressContent div.d-flex span.AddressContentText{
    width: calc(100% - 60px);
}

.AddressContentLabel{
    font-weight: 600;
    width: 56px;
    margin: 0 4px 4px 0;
}

.SPAddressContent{
    color: #444444;
    margin: 0 0 30px;
}

#map{
    height: 340px;
    background-color: #cccccc;
    margin: 0 30px 30px 30px
}

.card.SPServices{
    padding: 0;
}

.SPTabWidget{
    display: flex;
    flex-direction: column;
}

.SPTabHeader{
    width: 100%;
    order: 1;
    padding: 0 30px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.SPTabHeader:hover, .SPTabHeader.true{
    cursor: pointer;
    background-color: #e9d9f9;
}

.SPTabTitle{
    display: flex;
    padding: 20px 40px 20px 0;
    border-top: 1px solid #eaeaea;
}

.SPTabTitle:after{
    content: '';
    position: absolute;
    right: 40px;
    width: 12px;
    height: 20px;
    background-image: url("../../../assets/images/Caret_Dropdown_Purple.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.SPTabTitle.true:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.SPTabTitleContent{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.SPTabWidget div.SPTabContent{
    width: 100%;
    order: 2;
    padding: 25px 30px;
}

.SPTabContent.collapsing, .SPTabContent.show{
    display: flex;
    flex-wrap: wrap;
}

.SPTabContent.show ~ .SPTabHeader, .SPTabContent.collapsing ~ .SPTabHeader{
    background-color: #e9d9f9;
}

.SPTabContent.show ~ .SPTabHeader .SPTabTitleContent, .SPTabContent.collapsing ~ .SPTabHeader .SPTabTitleContent{
    font-weight: 600;
}

.SPTabContent.show ~ .SPTabHeader .SPTabTitle{
    border-color: rgba(0,0,0,0);
}

.SPTabContent.show ~ .SPTabHeader .SPTabTitle:after, .SPTabContent.collapsing ~ .SPTabHeader .SPTabTitle:after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.SPServiceCount{
    display: block;
    height: 20px;
    width: 20px;
    background-color: #7a329f;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    color: #ffffff;
}

.SPSkillsList{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 30px 20px 30px;
}

.SPSkillsItems{
    font-size: 14px;
    margin: 10px 10px 10px 0;
    color: #444444;
    border: 1px solid #b7b7b7;
    padding: 5px 20px;
    border-radius: 20px;
}

.SPAvailability{

}

.SPAvailWidget{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 15px 20px;
}

.SPAvailContainer{
    width: 17.22%;
    height: 196px;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 0 15px 10px;
}

.SPAvailTitle{
    display: block;
    position: relative;
}

.SPAvailTitle:after{
    content: '___';
    display: block;
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #7a329f;
}

.SPAvailTitleText{
    position: relative;
    font-size: 16px;
    color: #494949;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 15px;
}

.SPAvailTitleText:after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    right: 15px;
    top: 17px;
    opacity: .3;
    background-image: url("../../../assets/images/Clock.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.SPAvailContent{
    display: block;
    position: relative;
    padding: 15px 0;
}

.Available .SPAvailContent, .trueAvailable .SPAvailContent{
    padding: 0;
}

.SPAvailItems{
    display: block;
    position: relative;
    padding: 5px 15px 5px 40px;
    list-style: none;
    font-size: 16px;
    margin: 1px 0;
    color: rgba(79, 79, 79, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.availabilityCheck:checked ~ label, .SPAvailItems.active{
    background-color: #f0e6f2;
    color: #4f4f4f;
}

.availabilityCheck:checked ~ label:before, .SPAvailItems.active:before{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    left: 16px;
    top: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #39ae99;
}

.SPAvailItems:hover{
    cursor: pointer;
}

.availabilityCheck{
    position: absolute;
    opacity: 0;
}

.SPCertificateContainer{
}

.SPCertificateList{
    list-style: none;
    padding: 0 30px;
    margin: 0;
}

.SPSCertificateItems, .SPWorkHistoryItems, .SPEducationItems, .SPAddressItems{
    display: flex;
    position: relative;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    padding: 25px 0 25px 60px;
    border-top: 1px solid rgba(225,225,225,.4);
}

.SPSCertificateItems:first-child, .SPWorkHistoryItems:first-child, .SPEducationItems:first-child, .SPAddressItems:first-child{
    padding-top: 0;
    border: 0;
}

.SPCertificateHeader span{
    font-weight: 400;
}

.SPWorkYear{
    font-size: 16px;
    font-weight: 600;
    margin-right: 40px;
}

.SPEducationDesc{
    font-size: 14px;
    color: #444444;
}

.SPSCertificateItems:before, .SPWorkHistoryItems:before, .SPEducationItems:before, .SPAddressItems:before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    background-color: #a7a6cf;
    background-position: center;
    background-size: 27px auto;
    background-repeat: no-repeat;
}

.SPSCertificateItems:before{
    background-image: url("../../../assets/images/Certificate.svg");
}

.SPEducationItems:before{
    background-image: url("../../../assets/images/EducationWhite.svg");
}

.SPWorkHistoryItems:before{
    background-image: url("../../../assets/images/WorkWhite.svg");
    background-size: 24px;
}

.SPAddressItems:before{
    background-image: url("../../../assets/images/POS.svg");
}

.SPCertificateContent{
    width: 100%;
    top: -3px;
    position: relative;
}

.SPCertificateHeader{
    font-size: 16px;
    color: #444444;
    margin: 0 0 4px 0;
}

.SPCertificateSubtle, .SPCertificateDesc{
    display: block;
    font-size: 14px;
    font-weight: 100;
}

.SPCertificateSubtle{
    color: #919090;
    margin-bottom: 10px;
}

.SPCertificateDesc{
    color: #444444;
}

div.Select-menu-outer {
    top: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

.Select.is-open > .Select-control span.Select-arrow {
    border-color: #999999;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.SPTabContentEdit div.SPIconServicesCheckbox{
    height: 160px;
    width: 160px;
    margin: 10px !important;
}

.SPIconServicesCheckbox label.form-check-label{
    height: 160px;
    width: 160px;
    margin: 0;
}

.ModalPadding0 div.modal-body{
    padding: 10px 0;
}

div.SPTabContentEdit{
    padding: 10px 20px !important;
}

.SPTabWidgetEdit .SPTabHeader .SPTabTitle{
    padding: 14px 40px 14px 0;
}

.SPTabContentEdit.collapsing~.SPTabHeader, .SPTabContentEdit.show~.SPTabHeader, .SPTabWidgetEdit .SPTabHeader:hover{
    background-color: #f2f5f7;
}

.SPTabWidgetEdit .SPTabHeader .SPTabTitle:after{
    display: inline-block;
}

.SPTabWidgetEdit .SPTabHeader .SPTabTitle .SPTabTitleContent{
    font-size: 16px;
}

.SPTabWidgetEdit .SPTabHeader .SPTabTitle .SPServiceCount{
    height: 18px;
    width: 18px;
    font-size: 14px;
}

.selectServiceTypes {
    padding: 0 10px;
}

.AvailabilityWidget .SPAvailWidget .SPAvailContainer{
    width: 30.67%;
    height: 180px;
    margin: 0 10px 20px;
}

.AvailabilityWidget .SPAvailWidget .SPAvailContainer .SPAvailTitle .SPAvailTitleText:after{
    display: none;
}

.AvailabilityWidget .SPAvailWidget .SPAvailContainer .SPAvailTitle .SPAvailTitleText:hover, .addImageBtn:hover, .UploadImageBtn:hover, .addImageInput:hover{
    cursor: pointer;
}

.AvailabilityWidget .SPAvailWidget .SPAvailContainer .SPAvailTitle .SPAvailTitleText input{
    opacity: 0;
}

.AvailabilityWidget .SPAvailWidget .trueAvailable .SPAvailTitle .SPAvailTitleText:after{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    background-image: url("../../../assets/images/Navvis_ch_spritesheet.svg");
    background-position: 0 -236px;
    height: 24px;
    width: 24px;
}

.availabilityModal div.modal-body{
    padding: 0;
}

.trueAvailable{
    border: 1px solid #7a329f;
}

.trueAvailable .SPAvailTitle:before{
    display: block;
}

.WorkHistoryModal .modal-content .modal-body, .educationModal .modal-content .modal-body, .CertificationModal .modal-content .modal-body, .LanguagesModal .modal-content .modal-body, .editSkillsModal .modal-content .modal-body {
    padding: 20px 30px;
}

div.CertificationModal{
    width: 100%;
}

.modal-body .Select-menu-outer{
    /* position: relative; */
}

.SPBlackoutItems{
    display: flex;
    position: relative;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    padding: 15px 0 10px 0;
    border-top: 1px solid rgba(225,225,225,.4);
}

.SPBlackoutDate{
    display: flex;
    position: relative;
    width: 120px;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.SPBlackoutDate .date{
    display: block;
    font-weight: 600;
    color: #494949;
}

.SPBlackoutDate .day{
    font-size: 12px;
    color: #999797;
}

.SPBlackoutItems .SPIconEdit{
    top: 10px;
}

.card.SPBlackoutDays{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.BlackoutModal .modal-content{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.BlackoutModal .modal-content .modal-body{
    height: fit-content;
    padding: 15px 30px
}

/*.BlackoutModal .modal-content .modal-header button.close{
    position: absolute;
    left: 0;
}

.BlackoutModal .modal-content .modal-header button.close:before{
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    width: 16px;
    border: 1px solid;
    background-image: url("../../../assets/images/BackWhite.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.BlackoutModal .modal-content .modal-header button.close span{
    opacity: 0;
}*/

.editProfileImageContainer, .profileImage{
    position: relative;
}

.editProfileHeader{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.editDpImage{
    display: block;
    height: 140px;
    width: 140px;
    background-color: #000;
    position: absolute;
    top: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .5;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.uploadWidget{
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.addImageBtn{
    display: block;
    position: relative;
    width: 34px;
    height: 34px;
    border: 0;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #79319d;
}

.addImageBtn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 34px;
    background-image: url("../../../assets/images/editWhite.svg");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.addImageInput{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.UploadProfileImageContainer{
    max-height: 325px;
    background-color: #464646;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 4px 3px;
    background-position: 0 0,5px 0,5px -5px,0 5px;
    margin-bottom: 24px;;
}

.UploadedImage{
    max-height: 325px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.UploadedImageLimitation{
    padding-left: 18px;
}

.UploadedImageLimitation li{
    font-size: 14px;
    color: rgba(68, 68, 68, 0.65);
}

.SPIconServicesCheckbox label span{
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.SPIconServicesCheckbox label:after{
    top: 20px;
}

.availabilityCheck:checked ~ label{

}

.SPGuardianList{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 15px 20px;
}

.SPGuardianItems{
    display: block;
    width: 20%;
    list-style: none;
}

.SPGuardianContent{
    padding: 15px;
}

.SPGuardianImage{
    display: block;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.SPAddGuardianDesc{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;
}

.SPGuardianName{
    font-size: 16px;
    font-weight: 600;
}

.Ellipsis .readMore {
    display: none;
}

.LinesEllipsis--clamped ~ .readMore {
    display: block;
}

.SPContactContent .SPIconXLarge{
    margin: 0 0 0 20px;
}

.SPContactContent .SPIconXLarge:first-child {
    margin: 0;
}

.SPNoInfo, .SPNoInfoContent, .SPNoInfoDesc{
    display: block;
    width: 100%;
    text-align: center;
}

.SPPOSHeader{
    font-size: 18px;
}

.SPInfoContentImage{
    display: block;
    position: relative;
    width: 100%;
    height: 72px;
    background-image: url("../../../assets/images/No_Information.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.SPNoInfoDesc{
    margin: 15px 0;
    color: #9e9e9e;
}

.SPNoInfoDesc i{
    top: 4px;
}

.ProfileImageMultiSelect img.react-gravatar{
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.Select.ProfileImageMultiSelect div.Select-value{
    padding: 0;
    max-width: 100%;
}

.Select.ProfileImageMultiSelect div.Select-control{
    /*border: 0;*/
}

.ProfileImageMultiSelect .Select-control{
    height: 52px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: #acacac;
}

.ProfileImageMultiSelect .Select-control:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ProfileImageMultiSelect .Select-placeholder{
    padding: 10px;
}

.ProfileImageMultiSelect .Select-menu-outer{
    border: 1px solid #acacac;
}

.LanguagesModal .modal-body, .LanguagesModal .modal-content{
    overflow: initial;
}

.LanguagesModal .modal-body{
    min-height: 350px
}

